/nbproject/private/
/online_shop_JEE01-war/nbproject/private/
/online_shop_JEE01-ejb/nbproject/private/
/online_shop_JEE01-ejb/build/
/online_shop_JEE01-ejb/dist/
/build/
/dist/
/online_shop_JEE01-war/build/
/online_shop_JEE01-war/dist/